/* normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}
/* render the 'main' element consistently in IE */

main {
  display: block;
}

/* correct the font size and margin on 'h1' element within 'section' and *'article' context in chrome, Firefox, and Safari. */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
};

/* Grouping content =================================== ========================================== */

/* 1. add the correct box sizing in firefox.
2.show the overflow in Edge and ie  */

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* 1.correct the inheritance and scaling of font size in all browser.
2. correct the odd 'em' font sizing in all browser. */

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* text-level semantics =====
========*/

/* remove the gray background on active link in IE 1o */

a {
  background-color: transparent;
}

/* remove the bottom border in CHrome 57-
*2. Add the correct text decoration in chrome, Edge , IE, opera and Safari  */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* Add the correct font weight in Chrome, edge and Safari
*/

b,
strong {
  font-weight: bolder;
}

/* 
*1. Correct the inheritance and aceling of font size in all browsers.
*2. correct the odd 'em' font sizing in all browsers. */

code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* Add the correct font size in all browser */

small {
  font-size: 80%;
}

/* * prevent 'sub' and 'sup' elements from effecting the line height in 
* all browser */

sub,
sup{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub{
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content  ===
======*/

/* * remove the border on images inside links in IE 10 */

img{
  border-style: none;
}

/* forms ==========
======== */

/* *1. Change the font style in all browsers.
*2. Remove the margin in all firefox and Safari
  */

button,
input,
optgroup,
select, 
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* * Show the overflow in IE.
* 1. Show the overflow in Edge  */

button, 
input {
  overflow: visible;
}

/* * Remove the inheritance of text traform in Edge, firefox and IE.
* 1. Remove the inheritance of text transform infirefox  */

button,
select {
  text-transform: none;
}

/* * Correct the inability to style clickable types in IOS and Safari
 */

botton,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/* * Remove the inner border and 
padding in firefox  */

botton::-moz-focus-inner
[type='button']::-moz-focus-inner
[type='reset']::-moz-focus-inner
[type='submit']::-moz-focus-inner{
  border-style: none;
  padding: 0;
}

/* * Restore the focus style unset by the previous rule 
 */

botton:-moz-focusring
[type='button']:-moz-focusring
[type='reset']:-moz-focusring
[type='submit']:-moz-focusring {
    outline: 1px dotted buttonText;
}

/* * Correct the padding in firefox */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/* * 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from 'firefox' element in IE.
* 3. Remove the padding to developers are not caught out when they zero output*  'firefox' element in all browser */

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* * Add the correct vertical aligment in Chrome, firefox, and opera */

progress {
  vertical-align: baseline;
}

/* * Remove the default vertical scrollbar in IE 10+
 */

textarea {
  overflow: auto;
}

[type= 'checkbox'],
[type= 'radio'] {
  box-sizing: border-box;
  padding: 0;
}

/* * Correct the cursor style of increment and decrement buttons in Chrome */

[type='number']::-webkit-inner-spin-button
[type='number']::-webkit-inner-spin-button {
  height: auto;
}

/* * !. Correct the odd appeaarance in Chrome and Safari. 
* 2. Correct the outline style in Safari. */

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* * 1. Correct the inability to style clickable types in IOS and Safari.
* 2. Change font properties to 'inherit' in Safari  */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* interactive ========================
============= */

/* * 1. Add the correct display in Edge, IE and firefox */

details {
  display: block;
}

/* * 1. Add the correct display in all browser */

summary {
  display: list-item;
}

/* misc =======
==== */

/* *Add the correct display in IE 10+ */

template {
  display: none;
}

/* * 1. Add the correct display in IE 10
 */

[hidden] {
  display: none;
}

